

*{
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.magic{
    background-color: #f9ca24;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px  rgba(249,202,36,0.6);
}
.magic:focus{
    outline: none;
}

.magic:active{
    box-shadow: noen;
    transform: translateY(2px);
}
.boxes{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    position: relative;
    transition: 0.4s ease;


}
.boxes.big{
    height: 600px;
    width: 600px;

}
.boxes.big .box{
    transform: rotateZ(360deg);
}

.box{
    background-image: url('https://media.giphy.com/media/KcRVkLMk67Nte/giphy.gif');
    background-repeat: no-repeat;
    background-position: -100px 0;
    box-sizing: 500px 500px;
    height: 125px;
    width: 125px;
    transition: 0.4s ease;
}
.box::after{
    content: '';
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}
.box::before{
    content: '';
    background-color: #f9ca24;

    position: absolute;
    bottom: -15px;
    right: -8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}