body{
    background-color: lightgray;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    width: 90vw;
}





.panel {
    background-color: rgb(44, 53, 63);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin:0 5px;
    /* color: rgb(87, 66, 8); */
    position: relative;
    flex: 0.2; 
    transition: flex 1s ease;
    cursor: pointer;
    overflow: hidden;

}

.panel h3{
    background-color: rgba(126, 146, 167, 0.596);
    border-radius: 10px;
    padding: 5px 15px;
    color: rgb(12, 11, 19);
    font-size: 20px;
    position:absolute;
    bottom: 20px;
    left: 40px;
    right: ;
    margin:0;
    opacity: 0;
}
.panel.active{
    flex: 3;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 2s ease .3s;
}

@media (min-width :720px){
    .panel.active{
        flex:1;
    }
}