@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{box-sizing: border-box;}

body{
    background-color: #7bdaf3;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding-top: 3rem;
}
.add{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #9ec862;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.note{
    background-color: #fff;
    height: 400px;
    width: 400px;
    margin: 30px 20px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    /* overflow: hidden; */
}
.note .tools{
    background-color: #9ec862;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    margin-left:0.5rem;
    font-size: 16px;
    cursor: pointer;
}
.note textarea{
    outline: none;
    border: none;
    height: 400px;
    width: 100%;
    padding: 20px;
    font-family: inherit;
    font-size: 1.2rem;
}
.main{
    padding: 20px;
}
.hidden{
    display: none;
}