*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.carousel{
    height: 530px;
    width: 500px;
    overflow: hidden;
    box-shadow: 2px 5px 6px rgab(0,0,0,0.3);
}
.image-container{
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    margin: 0;
    border: none;
    width: 49.5%;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.btn:active{
    outline: none;
}